<div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-5">
      <h1 ><%= image_tag("BuzzFeed_Logo.png", class: "logo") %>
      <span class="pull-bottom">TJ & PG</span></h1>
    </div>
    <div class="col-md-offset-1 col-md-5">
      <%= image_tag("buzz_feed_buttons.png", class: " extra height") %>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row naver">
    <div class="col-sm-offset-1 col-sm-10">
      <div class="row">
        <h4 class="col-sm-1">News</h4>
        <h4 class="col-sm-1">Buzz</h4>
        <h4 class="col-sm-1">Life</h4>
        <h4 class="col-sm-1">Quizzes</h4>
        <h4 class="col-sm-1">Vides</h4>
        <h4 class="col-sm-2">More <span class="glyphicon glyphicon-chevron-down"></span></h4>
        <h4 class="col-sm-offset-3 col-sm-2"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>  <span class="glyphicon glyphicon-user" aria-hidden="true"></span></h4>
      </div>
    </div>
  </div>
</div>