// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$banner-gray: #eaeaea;
$text-blue: #0072ef;

body {  
  background-color: white;
}

.logo {
  padding: 10px;
  height: 90px;
}

.bottom {
  padding-top: 40px;
}

.extra {
  padding-top: 30px;
}

.height {
  height: 100px;
}

.naver {
  background-color: $banner-gray;
}

.text-link {
  color: $text-blue;
}

.wider {
  width: 100%;
}

.padder {
  padding-top: 200px;
}